html,
body {
    overflow-x: hidden;
}

.logo-small {
    display: none;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    color: #000;
    margin: 15px 0 35px !important;
}

h1.article-title {
    margin: 20px 0 15px;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 23px 0 40px;
}

h2.article-title {
    margin: 20px 0 15px;
}

h3.post-lead,
h3.article-lead {
    font-size: 24px;
    line-height: 36px;
    font-weight: 100;
    font-style: italic;
    color: #000;
    margin-bottom: 35px;
}

h4.post-lead,
h4.article-lead {
    font-size: 16px;
    font-weight: 300;
}

p.comment-text {
    font-size: 15px;
    line-height: 20px;
    color: #505458;
    margin: 0px;
}

p.comment-details {
    font-size: 13px;
    font-style: italic;
    color: #aaa;
    margin: 0px;
}

div.post-teaser,
div.post-content {
    padding: 20px 50px;
}

.article-container {
    padding: 30px 65px;
}

div.post-content .btn,
div.post-teaser .btn,
div.article-container .btn {
    margin: 30px 0px;
    padding-left: 30px;
    padding-right: 30px;
}

div.post-text,
div.article-content,
div.post-text p,
div.article-content p {
    font-size: 16px;
    line-height: 26px;
    padding: 0px 10px;
    font-weight: 300;
    color: #000;
}

.relative {
    position: relative;
    overflow: hidden;
}

.default-avatar {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    border-radius: 24px;
    font-size: 24px;
    border: 1px solid rgb(121, 121, 121);
}

.avatar-huge {
    width: 128px;
    height: 128px;
    line-height: 128px;
    border-radius: 64px;
    border-width: 3px;
    font-size: 64px;
}

.dropzone {
    border: 2px dashed #797979;
}

.must-read {
    position: absolute;
    top: -10px;
    right: -3px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.star-relative {
    position: absolute;
    top: 16px;
    left: 22px;
}

.btn-star,
.btn-star:hover,
.btn-star:focus,
.btn-star:active,
.btn-star:active:focus,
.btn-back,
.btn-back:hover,
.btn-back:focus,
.btn-back:active,
.btn-back:active:focus {
    background: transparent !important;
    box-shadow: none;
}

.btn-star,
.btn-star:hover {
    font-size: 30px;
    color: #bbbbbb;
}

.star-active,
.star-active:hover {
    color: #dcb96f;
}

.star-smaller,
.star-smaller:hover {
    font-size: 20px;
}

.btn-post,
.btn-post:hover {
    color: #fff;
    background-color: #00acec;
}

.btn-back,
.btn-back:hover {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    color: #797979;
}

.btn {
    border-radius: 2px;
}

#sidebar-menu ul ul a.active {
    color: #00acec;
}

.app-search .form-control::-moz-placeholder {
    color: #eaeced;
    opacity: 1;
}

.app-search .form-control:-ms-input-placeholder {
    color: #eaeced;
}

.app-search .form-control::-webkit-input-placeholder {
    color: #eaeced;
}

span.post-details {
    color: #aaa;
    font-style: italic;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .app-search .form-control,
    .app-search .form-control:focus {
        width: 250px !important;
    }
}

@media screen and (max-width: 767px) {

    div#wrapper.enlarged {
        position: relative;
    }

    #wrapper.enlarged .content-page {
        margin-left: 0px;
    }

    #wrapper.enlarged .topbar .topbar-left {
        width: 70px !important;
    }

    .logo-small {
        display: block;
    }

    .logo-large {
        display: none;
    }

    .row-offcanvas {
        position: fixed;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-left {
        left: -240px !important;
    }

    .row-offcanvas-right {
        right: -240px !important;
    }

    .row-offcanvas-right.active {
        position: fixed !important;
        overflow-y: auto !important;
        right: 0px !important;
    }

    .sidebar-offcanvas {
        position: absolute;
        width: 50%;
        top: 0;
    }

    .dropzone .dz-message span {
        position: relative;
        font-size: 12px;
    }
}

@media screen and (max-width: 620px) {
    div.container,
    div.post-text,
    div.post-text p,
    div.article-content,
    div.article-content p {
        padding: 0px !important;
    }

    .post-teaser,
    .article-container,
    div.post-content {
        padding: 15px !important;
    }

    h2.post-title,
    h2.article-title {
        margin-bottom: 20px;
    }

    .post-details {
        display: inline-block;
        padding: 0px 70px 0px 20px;
    }

    div.post-content .btn,
    div.post-teaser .btn {
        margin: 15px 0;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .btn-post {
        margin-right: 15px;
    }

    .must-read {
        top: 0px !important;
        margin-top: 10px !important;
    }

    .star-relative {
        top: 6px;
        left: 10px;
    }
}